@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* Responsive */
@media (max-width: 768px) {
  .header-top {
    display: none;
  }

  .tag-menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .tag-logo {
    flex-direction: column;
    align-items: center;
  }

  .tag-logo span a {
    font-size: 20px;
  }

  .call-button {
    display: block;
  }
}

footer{
  background: -webkit-linear-gradient(-30deg, #f57f20, #d62b08 100%);
  color: white;
}


:root {
  --Maunen: #282827;
  --Mauxanh: #0d337c;
  --Mauvang: #ffc200;
  --Mauchu: #dae2f7;
  --Mautrang: white;
  --Mautrangnhat: #efefef;
  --Maudo: red;
  --font: "Afacad", sans-serif;
}
body {
  font-family: var(--font);
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.container-bot {
  max-width: 1200px;
  margin: 100px auto;
}
